# Start by ignoring everything.
# From a git-only perspective this isn't *strictly* necessary with a bare repo.
# We manually `dotfiles add ...` everything anyway.
# But other programs - fd, ripgrep, etc. - might rely on this file to know what to scan.
# It's also helpful for us as it may prevent some other git idiocy. Maybe?
# It does come at the cost of maintaining an extra file.
*

# Now start *including* = "not ignorning".
!.gitignore
!.zshenv
!README.md


# .config
# In order to un-ignore specific subdirs we first have to un-ignore the parent dir.
!.config/wezterm
!.config/wezterm/*
!.config/zsh
!.config/zsh/*
!.vim/
!.vim/*


# From this point it's like a normal gitignore file. 
.vim/.netrwhist
