# Start by ignoring everything.
# From a git-only perspective this isn't *strictly* necessary with a bare repo.
# We're manually `dotfiles add ...` everything anyway.
# But other programs - fd, ripgrep, etc. - might rely on this file to know what to scan.
# It's also helpful for us as it may prevent some other git idiocy. Maybe?
# It does come at the cost of maintaining an extra file.
*

# Now start *including*.
!/.gitignore

# .config
# In order to un-ignore specific subdirs we first have to un-ignore the parent dir.
!/.config
!/.config/nvim
!/.config/nvim/*
!/.config/nvim/lua
!/.config/nvim/lua/*
